<div class="dashboard-header">
  <h3>Master Setup</h3>

  <div class="slide-div">
  
    <button class="slide-btn" (click)="slidePrevious()"><img class="nexticon" src="assets/temp/next.svg"></button>
    <div class="list">
      <ng-container *ngFor="let item of slides;let i=index">

        <div (click)="onClickCard(i)" class="card" [class.selected-card]="selected==i"
          [class.previous-card]="previous==i" [class.next-card]="next==i">
          <div class="img">
            <img src="assets/temp/img_avatar.png">
          </div>
          <div class="content">
            <div class="label">
              <div>Master Setup</div>
              <!-- <div class="names">{{item}}</div> -->
            </div>
            <!-- <div class="label">
              <div>Date of birth</div>
              <div class="names">20-12-2020</div>
            </div>
            <div class="label">
              <div>Designation</div>
              <div class="names">UI/UX Designer{{item}}
              </div>
            </div>
            <div class="button">
              <button>MORE</button>
            </div> -->
          </div>
        </div>
      </ng-container>
    </div>
    <button class="slide-btn" (click)="slideNext()"><img src="assets/temp/next.svg"></button>
  </div>
</div>
<!-- <div class="buttons">
    <button (click)="logOut()">LOGOUT</button>
    <button (click)="goToGallery()">GO TO GALLERY</button>
</div> -->
