.referral-card {
  background-size: cover;
  background-image: url('../../../assets/temp/newcomerbg.png');
  border-radius: 20px;
  padding: 35px 0 35px 0;

  // width: 50%;
  .referral-title {
    text-align: center;
    font-size: 33px;
    background: linear-gradient(100deg, rgb(233 31 103) 40%, #3584e5 60%);
    // background: linear-gradient(to right, #ed1f48, #d23a6d, #729aef, #69a3fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    margin-bottom: 20px;
    // margin: 0;
    margin-top: -8px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;


  }

  .content {
    height: 240px;
    overflow: auto;
    padding-left: 45px;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #c4c4c4;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #125bc2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  mat-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 40px;

    mat-card-title {
      font-size: 16px;
      font-family: 'Montserrat';
      font-weight: 600;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .experience {
      display: flex;
      justify-content: space-between;

      p{
        color: #66788a;
        line-height: 10px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
      }
      p:last-child {
         font-size:12px ;
      }
      button {
        margin-top: 25px;
      }
    }
  }
}


// .back-card {
//     padding: 30px;
//     margin: 0px 10px 20px 10px;
//     border-radius: 8px;
//     box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
//     background-color:snow;
//     border: 1px solid transparent;

//         h4 {
//             text-align: center;
//             margin-bottom: 5px;
//             font-size: 20px;
//             background: -webkit-linear-gradient(#e1204c, #a1206b,#0e4fb8 );
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//             font-weight: 800;
//         }
//     .grid-list { 
//         .card-column {
//             max-width:320px;
//             border-radius: 5px;
//         }
//         p {
//             margin-top: 7px;
//         }
//         h3 {
//             font-weight: 600;
//         }
//         .date {
//             font-weight: 600;
//         }
//         img {
//             height: 196px;
//         }
//         .date-button-row {
//             display: flex;
//             justify-content: space-between;
//         }
//         mat-card {
//             border: 1px solid #D8D8D8;
//             border-radius: 5px;
//             box-shadow: none;
//         }
//     }
// }

// .card {
//     width: 100vh;
//     height: 400px;
//     border-radius: 13px;
//     background-color:#f2f2f2;
//     h2 {
//       text-align: center;
//       background: linear-gradient(90deg,rgba(255, 0, 0, 0.897) 40%,blue 60%);
//       background-clip: text;
//       -webkit-text-fill-color: transparent;
//       font-weight: 800;
//       margin: 0;
//       padding-top: 18px;
//       font-family:sans-serif;
//     }

//     .header-list {
//       .cont,.cont3{
//         background-color:#f1eeee;
//         display: flex;
//         height: 80%;
//         width: 85%;
//         box-shadow: 0px 4px 8px rgb(99, 96, 96);
//         border-radius: 13px;
//         p{
//           color:grey
//         }
//           b{
//             color: darkblue;
//           }

//         &.cont3{
//           display: flex;
//           flex-direction: column;
//           hr{
//             width: 90%;
//           }
//           p{
//             padding: 5px 0px 0px 13px;
//             line-height: 0;
//              color:rgb(230, 18, 18);
//              font-weight: 700;
//           }
//           span{
//             color: blue
//           }
//         }
//         .profile {
//           background: url("../../assets/temp/water.jpg") no-repeat;
//           width: 40%;
//           height: 127px;
//           margin: 15px;

//         }

//         .profile2 {
//           background: url("../../assets/temp/greenplace.jpg") no-repeat;
//           background-size: cover;
//           width: 40%;
//           height: 127px;
//           margin: 15px;
//         }
//         .subprofile-container{
//           display: flex;
//           p{
//             line-height: 0;
//             font-size: 14px;
//             color:grey;
//             font-weight: normal;
//           }

//         .subprofile {
//           background: url("../../assets/temp/greenplace.jpg") no-repeat;
//           background-size: cover;
//           width: 25%;
//           height: 75%;
//           margin: 15px;
//         }

//       }
//         div {
//            border-radius: 10px;
//           p {
//             line-height: .5;
//           }

//           button {
//             background-image: linear-gradient(to right, #d30456, #fb5145, #f78f23);
//             border: none;
//             position: absolute;
//             bottom: 47px;
//             right: 60px;
//             height: 30px;
//             font-size: 15px;
//             color: white;
//           }

//           button {
//             &.button-2 {
//               position: absolute;
//               left: 60px;
//               font-size: 15px;
//             }
//           }
//         }


//       } 
//     }
//   }
