<mat-card class="referral-card">
  <h2 class="referral-title">Buddy Referral</h2>
  <div class="content">
  <mat-card>
          <mat-card-title>UI/UX Designer (Figma, Invision, Photoshop, HTML5, CSS, Photoshop, Figma, Invision, Photoshop,Figma, Invision, Photoshop)</mat-card-title>
          <div class="experience">
              <div class="list">
                  <p>Experience : 2-4 years</p>
                  <p>Full Time - Madurai</p>
              </div>
              <button class="gradient-button">Explore</button>
          </div>
      </mat-card>
      <mat-card>
          <mat-card-title>Front End Developer (Angular, Ionic, HTML5, React, Laravel, Angular, Ionic, HTML5, React, Laravel ...)</mat-card-title>
          <div class="experience">
              <div class="list">
                  <p>Experience : 2-4 years</p>
                  <p>Full Time - Madurai</p>
              </div>
              <button class="gradient-button">Explore</button>
          </div>
      </mat-card>
      <mat-card>
          <mat-card-title>UI/UX Designer (Figma, Invision, Photoshop...)</mat-card-title>
          <div class="experience">
              <div class="list">
                  <p>Experience : 2-4 years</p>
                  <p>Full Time - Madurai</p>
              </div>
              <button class="gradient-button">Explore</button>
          </div>
      </mat-card>
      <mat-card>
          <mat-card-title>Front End Developer (Angular, Ionic, HTML5...)</mat-card-title>
          <div class="experience">
              <div class="list">
                  <p>Experience : 2-4 years</p>
                  <p>Full Time - Madurai</p>
              </div>
              <button class="gradient-button">Explore</button>
          </div>
      </mat-card>
  </div>
</mat-card>
<!-- <mat-card class="back-card">
    <h4>Blog</h4>
    <mat-grid-list cols="3">
        <mat-grid-tile class="grid-list">
            <mat-card>
                <div class="card-column">
                    <img mat-card-image class="card-img-top" src="assets/temp/amusement.jpg" alt="Card image cap">
                    <mat-card-content>
                        <h3 class="card-title">Header goes Here</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been industry.</p>
                        <div class="date-button-row">
                            <p class="date"> 28-09-2020</p>
                            <button class="gradient-button">Read More</button>
                        </div>
                    </mat-card-content>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-list">
            <mat-card>
                <div class="card-column">
                    <img mat-card-image class="card-img-top" src="assets/temp/greenplace.jpg"
                        alt="Card image cap">
                    <mat-card-content>
                        <h3 class="card-title">Header goes Here</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been industry.</p>
                        <div class="date-button-row">
                            <p class="date"> 28-09-2020</p>
                            <button class="gradient-button">Read More</button>
                        </div>
                    </mat-card-content>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-list">
            <mat-card>
                <div class="card-column">
                    <img mat-card-image class="card-img-top" src="assets/temp/water.jpg" alt="Card image cap">
                    <mat-card-content>
                        <h3 class="card-title">Header goes Here</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been industry.</p>
                        <div class="date-button-row">
                            <p class="date"> 28-09-2020</p>
                            <button class="gradient-button">Read More</button>
                        </div>
                    </mat-card-content>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>  
</mat-card>

<div class="card">
    <h2>Birthday Celebrities</h2>
    <mat-grid-list cols="12" rowHeight="300px">
      <mat-grid-tile [colspan]=4 class="header-list">
        <div class="cont">
          <div class="profile"></div>
          <div>
            <p> Name </p>
            <p><b>XXXXXXX</b></p>
            <p>Department</p>
            <p><b>UI Designer</b></p>
            <p>Location</p>
            <p><b>Madurai</b></p>
            <button>Send Your Wishes</button>
            <button class="button-2"> Wishes</button>
            <button>Send your Wishes</button> 
         </div>
        </div>
  
      </mat-grid-tile>
      <mat-grid-tile [colspan]=4 class="header-list">
        <div class="cont">
          <div class="profile2"></div>
          <div>
            <p>Name </p>
            <p><b>XXXXXXX</b></p>
            <p>Department</p>
            <p><b>17/09/2020</b></p>
            <p>Location</p>
            <p><b>UI/UX Designer</b></p>
            <button>Send Your Wishes</button>
            <button class="button-2"> Wishes</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=4 class="header-list">
        <div class="cont3">
          <p>Next <span>Month</span> </p>
          <div class="subprofile-container">
            <div class="subprofile"></div>
            <div>
              <p>Name </p>
              <p><b>XXXXXXX</b></p>
              <p>Department</p>
              <p><b>UI Development</b></p>
            </div>
          </div>
          <hr>
          <div class="subprofile-container">
            <div class="subprofile"></div>
            <div>
              <p>Name </p>
              <p><b>XXXXXXX</b></p>
              <p>Department</p>
              <p><b>UI Development</b></p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
   -->