// Colors

$body-bg-color:#ffffff;
$btn-gradient: linear-gradient(90deg, #FD8B18 0%, #FF0F68 100%);
$btn-gradient-2:linear-gradient(90deg, #FF1169 0%, #F7971F 100%);
$color-white:#fff;
$main-title-color:#F01D46;
$coman-border-color:#F0F0F4;
$text-color-dark:#122444;
$text-color-light:#495057;
$pending:#fdb46b;
$approved-light:#7dd6cd;
$approved-dark:#26a69a;
$reject-light:#ff8c88;
$reject-dark:#ec4c47;
// Font size

$main-title-size:24px;
$btn-gradient-size:16px;
$font-16:16px;
$font-14:14px;
$font-12:12px;

// Font family

$montserrat-font:Montserrat;

// line height

$line-h-42:42px;
$line-h-19:19.5px;
$line-h-35:35px;
$line-h-32:32px;
$line-h-20:20px;