<div class="header">
  <app-header></app-header>
  <div class="card">
    <div class="sub-menu">
      <app-side-menu></app-side-menu>
    </div>
    <div class="card-content">
      <!-- <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile class="card-list"><app-dashboard></app-dashboard></mat-grid-tile>
        <mat-grid-tile class="card-list">Transaction</mat-grid-tile>
        <mat-grid-tile class="card-list">Reports</mat-grid-tile>
      </mat-grid-list> -->
      <!-- <mat-grid-list cols="2"  rowHeight="350px" [gutterSize]="'30px'">
        <mat-grid-tile class="card-list">
          <app-dashboard></app-dashboard>
        </mat-grid-tile>
        <mat-grid-tile class="card-list">
         <app-buddy-referral></app-buddy-referral>
        </mat-grid-tile>
        <mat-grid-tile class="card-item">
      
        </mat-grid-tile>
        <mat-grid-tile class="card-item">
    
        </mat-grid-tile>
        <mat-grid-tile [colspan]= 2 class="card-list">
    
        </mat-grid-tile>

        <mat-grid-tile class="card-list">
      
        </mat-grid-tile>
        <mat-grid-tile class="card-list">
    
        </mat-grid-tile>
        <mat-grid-tile class="card-item">
      
        </mat-grid-tile>
        <mat-grid-tile class="card-item">
    
        </mat-grid-tile>
        <mat-grid-tile [colspan]= 2 class="card-list">
    
        </mat-grid-tile>
      </mat-grid-list> -->
    </div>
  </div>
  <!-- -->

  <app-footer > </app-footer> 
</div>

<!-- https://www.figma.com/file/DGW1iznRTYaYiFQe5j7Iyj/JMS?node-id=961%3A1 -->
      <!-- <app-blog> </app-blog>
      <app-blog></app-blog> -->

<!-- 
      <div><app-dashboard></app-dashboard></div>
      <div> <app-gallery></app-gallery> </div> -->

     